<h1>Your order has been successfully created:</h1>

<h2>Vegetable name: <%= @order.vegetable.name %></h2>
<h3>Order id: <%=  @order.id %></h3>
<h3>Quantity: <%= @order.quantity %></h3>

<h3>Subtotal: <%=  @order.subtotal %></h3>
<h3>Tax: <%=  @order.tax %></h3>
<h3>Total: <%=  @order.total %></h3>



