<h1>Edit the vegetable</h1>

<% if @vegetable.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vegetable.errors.count, "error")%> prohibited this vegetable from being saved:</h2>
      <ul>
        <% @vegetable.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>


<%= form_tag "/vegetables/#{@vegetable.id}", method: :patch do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @vegetable.name %>
  </div>

    <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @vegetable.price %>
  </div>


  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @vegetable.description %>
  </div>

   <div>
    <%= label_tag :image %>
    <%= text_field_tag :image, @vegetable.image %>
  </div>

  <div>
    <%= label_tag :health_benefits %>
    <%= text_field_tag :health_benefits, @vegetable.health_benefits %>
  </div>

  <div>
    <%= submit_tag "Edit vegetable!" %>
  </div>

<% end %>

<h2><a href="/vegetables">Back to index</a></h2>